@charset "utf-8";

/**
    * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
    * http://cssreset.com
    */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 1;
    }
    ol, ul {
    list-style: none;f
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }


/* Topnav */

#topnav	{
	margin:0px 50px 0px 50px;
	font:"Comic Sans MS", cursive;
}

#topnav	a:link		{ color:#FFF;	}
#topnav	a:visited	{ color:#FFF;	}
#topnav	a:active	{ color:#000;	}
#topnav	a:focus		{ color:#666;	}
#topnav	a:hover		{ color:#FFF;	}

#topnav_image{
	float:left;
	width:"50px";
	margin-right:5px;	
}

#topnav	ul {
	margin: 0px;
	list-style-type: none;
}

#topnav	ul li {
	color:white;
	display:inline;
	float:left;
	font:"Comic Sans MS", cursive;
	position:relative;
	width:150px;
}

#topnav ul li a {
	color:white;
	display: block;
	font:"Comic Sans MS", cursive;
	height: 30px;
	line-height: 30px;
	padding:0px 15px;
	text-align: center;
	text-decoration: none;
}

#topnav_text{
	color:#FFF;
	font-family:"Comic Sans MS", cursive;
	font-size:20px;
	text-align:left;
}

/* Body */

#adress_sint{
	text-align:center;	
}
body{
	background-color:#000;
	width:800px;	
}

h2{
	color:#FFF;
	font-family:"Comic Sans MS", cursive;
	font-size:18px;
	text-align:Center;	
}

h3{
	font-size:18px;
	text-decoration:underline;	
}

#image_center{
	text-align:center;
	margin:10px;	
}

#image_left{
	float:left;
	margin:10px;
}

#image_right{
	float:right;
	margin:10px;
}

#text{
	color:#FFF;
	font-family:"Comic Sans MS", cursive;
	text-align:left;	
}

#wrapper{
	background-image:url(../Afbeeldingen/Sinterklaas_background_3.jpg);
	height:1000px;
	width:1000px;
}

/* ERROR */

#err1{font-family:"Comic Sans MS", cursive; font-weight:bold; float:left; text-align:right; color:#FFF}
#err2{font-family:"Comic Sans MS", cursive; font-weight:bold; float:left; text-align:right; color:#FFF}
#err3{font-family:"Comic Sans MS", cursive; font-weight:bold; float:left; text-align:right; color:#FFF}
#err4{font-family:"Comic Sans MS", cursive; font-weight:bold; float:left; text-align:right; color:#FFF}
#err5{font-family:"Comic Sans MS", cursive; font-weight:bold; float:left; text-align:right; color:#FFF}
#err6{font-family:"Comic Sans MS", cursive; font-weight:bold; float:left; text-align:right; color:#FFF}
#err7{font-family:"Comic Sans MS", cursive; font-weight:bold; float:left; text-align:right; color:#FFF}
#err8{font-family:"Comic Sans MS", cursive; font-weight:bold; float:left; text-align:right; color:#FFF}
#err9{font-family:"Comic Sans MS", cursive; font-weight:bold; float:left; text-align:right; color:#FFF}
#err10{font-family:"Comic Sans MS", cursive; font-weight:bold; float:left; text-align:right; color:#FFF}
#err11{font-family:"Comic Sans MS", cursive; font-weight:bold; float:left; text-align:right; color:#FFF}
#err12{font-family:"Comic Sans MS", cursive; font-weight:bold; float:left; text-align:right; color:#FFF}
#err13{font-family:"Comic Sans MS", cursive; font-weight:bold; float:left; text-align:right; color:#FFF}
#fouten{font-family:"Comic Sans MS", cursive; font-weight:bold; float:left; text-align:right; color:#FFF}

/* Form */

fieldset{
	width:520px;	
}

fieldset p{
	clear:both;
	padding:5px;
}

#from{
	float:left;
	margin:100px;
	position:inherit;
	text-align:left;
}

input.textbox-300{
	float:left;
	width:300px;
}

input.submit{
	font-family:"Comic Sans MS", cursive;
}

legend{
	font-family:"Comic Sans MS", cursive;
	font-size:16px;
}

label.field{
	font-family:"Comic Sans MS", cursive;
	font-weight:bold;
	float:left;
	text-align:right;
	width:200px;
}

select{
	font-family:"Comic Sans MS", cursive;
	font-weight:bold;
	float:left;
	text-align:right;
	width:300px;
}

#submit{
	font-family:"Comic Sans MS", cursive;
	text-align:center;
	width:500px;	
}

table{
	float:left;
	margin-left:100px;
}

table tr td{
	text-align:center;
}

table tr td img{
	margin:5px
}
/* Table */